body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#intro {


  background: url("BG.jpg")no-repeat center;

  background-size: cover;


}
.navigation .nav-item .nav-link{
  color:rgb(179, 15, 29);
  margin-top: 20px;
  font-size: larger;
  
  
  }
  .navigation .nav-item .nav-link:hover{
    color:rgb(72, 10, 241);
    margin-top: 20px;
    font-size: larger;

    }
  






